---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class='container'>
		<Card />
	</div>
</Layout>

<style>
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
</style>
